*{
    margin:0;
    padding:0;
   font-family: 'Roboto', sans-serif;
   border:none;
}

body{
    display:flex;
    max-width:900px;
    flex-direction:column;
}

/* section one  */
.sectionone{
    background-color: #1F2937 ;
    padding: 13px 120px 90px 120px;
    
    display:flex;
    flex-direction:column;
    align-content:center;
}

#headerimg{
    width: 340px;
    height: 200px;
    object-fit: cover;
}

.headerlinks{
    display:flex;
    gap:20px;
    padding-top:7px;
}

.navbar{
    width:700px;
    display:flex;
    padding-bottom:50px;
}

.mainheader{
    display:flex;
    gap:38px;
    width:650px;
}

.mainheaderleft{
    display:flex;
    flex-direction:column;
    padding-top:20px;
    gap:15px;
}



#headerlogo{
    color:#F9FAF8;
    font-size:17px;
    padding-right:286px;
}


a{
    text-decoration: none;
    color:#e7e7e7;
    font-size: 11px;
    font-weight:300;
}

#topheader{
    color: #F9FAF8;
    font-size:28px;
    width: 250px;
}

#subheadertext{
    color:#e7e7e7;
    font-size: 11px;
}

#signupbutton{
width:90px;
height:20px;
background-color: #3882F6;
border-radius:5px;
color: #F9FAF8;
font-weight:530;
font-size:12px;
}

/* section two */
.sectiontwo{
    text-align:center;
    padding: 35px;
}

.title{
    font-weight:700;
    font-size: 24px;
    color: #1F2937;
}

.boxsubtext{
    font-size:12px;
    width:108px;
    color:#1F2937;
}

.maincontainer{
    display:flex;
    justify-content:center;
}

.box{
    width:100px;
    height:100px;
    border-radius:10px;
    border-style:solid;
    border-color: #3882F6;
    border-width:3px;


}

.container{
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    margin:50px;

    width:60px;
    gap:10px;
}

/* section three */
.sectionthree{
    background-color: #E5E7EB;
    padding:100px 200px;
}

.quote{
    font-size:25px;
    font-style: italic;
    font-weight: 280;
}

.name{
    padding-left: 250px;
    padding-top: 20px;
    font-weight: 510;
}

/* section four */
.sectionfour{
   padding: 60px 130px 60px 130px;
}

.callcontainer{
    background-color:#3882F6 ;
    padding:20px 34px;
    border-radius: 6px;

   color:#F9FAF8;
   display:flex;
}

.maincall{
    font-size:15px;
    font-weight:470;
}

.subcall{
    font-size:11px;
    color:#e7e7e7;
    font-weight:300;
}

.leftcallcontainer{
    padding:13px 35px;
}

.rightcallcontainer{
    background-color:#3882F6;
    color:#F9FAF8;
    width:70px;
    height:13px;
    text-align:center;
    padding:3px;
    


    border-color:#F9FAF8;
    border-style:solid;
    border-width:1px;
    border-radius:5px;

    font-weight:500;

    margin-top:20px;
    margin-left:70px;
}

/* footer */
.footer{
    background-color:#1F2937;

}

.copyright{
  color:#e7e7e7;
  font-size:11px;
  text-align:center;
  padding:25px;
  letter-spacing: 2px;
}
]